<!DOCTYPE HTML>
<html>
	<head>
		<h1> This is life</h1>
		<form action = "/" method = "post">
			<p> Size: </p>
			N:  <input type = "text" name = "n_count" value = 10>    M: 
			<input type = "text" name = "m_count" value = 10><br>
			<br>
			<input type = "submit" value = "New game">
		</form>
		<form action = "/life" method = "post">
			<input type = "submit" value = "Next generation">
		</form>
	</head>

	<body>
		<br>
		<table>
			<% (0...@@n).each do |i| %>
				<tr>
				<% (0...@@m).each do |j| %>
					<td style="width: 12px" align = "absmiddle"> 
						<%= @@life_map[i][j].to_s %></td>
				<% end %>
				</tr>
			<% end %>		
		</table>	
	</body>
</html>